*.suo
*.csproj.user
*.ReSharper.user
*.sln.DotSettings
*.sln.DotSettings.user
*.csproj.DotSettings
*.fpr
*.nupkg
TestResult.xml
**/nuget/lib/
bin/
obj/
build/
nuget-tests/
nsq-0.3.2-bin/*.dat
build_web/
build_vs/
.vs/
