<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <appSettings configSource="appSettings.config" />

  <nlog>
    <variable name="logDirectory" value="${basedir}/logs"/>
    <include file="${basedir}/nlog.config" />
  </nlog>

  <system.diagnostics configSource="diagnostics.config" />

  <system.net>
    <defaultProxy useDefaultCredentials="true" >
    </defaultProxy>
  </system.net>

</configuration>