<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
      <target name="console" xsi:type="ColoredConsole" layout="[${longdate}] [${level}] ${message}">
        <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow"/>
        <highlight-row condition="level == LogLevel.Error" foregroundColor="DarkMagenta"/>
        <highlight-row condition="level > LogLevel.Error" foregroundColor="Red"/>
      </target>
      <target
        name="file"
        xsi:type="File"
        layout="[${longdate}] [${level}] ${message}"
        fileName="${processname}.log"
        createDirs="true"
        keepFileOpen="true"
        concurrentWrites="false"
      />
    </targets>

    <rules>
      <logger name="*" minlevel="Trace" writeTo="console"/>
      <logger name="*" minlevel="Trace" writeTo="file"/>
    </rules>
  </nlog>

  <system.diagnostics>
    <sources>
      <source name="NsqSharp" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="nlog"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="LogProcessCrash" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="nlog"/>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>

    <switches>
      <!-- Valid values: Verbose, Information, Warning, Error -->
      <add name="sourceSwitch" value="Information"/>
    </switches>

    <sharedListeners>
      <add name="nlog" type="NLog.NLogTraceListener, NLog"/>
    </sharedListeners>

    <trace autoflush="true">
      <listeners>
        <add name="nlog" type="NLog.NLogTraceListener, NLog"/>
      </listeners>
    </trace>
  </system.diagnostics>

</configuration>
