/* Standard url() references in stylesheets don't work in MSHV 2 so we have to use an alternate syntax 
    in this stylesheet, which is loaded only when the content runs under MSHV 2 */

.SectionHeading .SectionHeadingIcon
{
    background-image: url('ms-xhelp:///?;/dotnetimages/collapse.png');
}

.SectionHeading.SectionHeadingCollapsed .SectionHeadingIcon
{
    background-image: url('ms-xhelp:///?;/dotnetimages/expand.png');
}

#BeforeHeaderContent .PopupLink, #BeforeHeaderContent .FunctionLink,
#AfterHeaderContent .PopupLink, #AfterHeaderContent .FunctionLink
{
    background-image: url('ms-xhelp:///?;/dotnetimages/dropdown.png');
}

.IsNew
{
    background-image: url('ms-xhelp:///?;/dotnetimages/isnew.png');
}

.TabContainer .ui-state-active {
    background: transparent url('ms-xhelp:///?;/dotnetimages/uiTabsArrow.png') no-repeat bottom center;
}

.hs-toggler a
{
 background-image: url('ms-xhelp:///?;/images/hs-toggler-collapsed.png');
}

.hs-toggler a.open
{
 background-image: url('ms-xhelp:///?;/images/hs-toggler-expanded.png');
} 

div.OH_topic
{
	display: none;	
}

#lbCloseLink {
	background-image: url('ms-xhelp:///?;/images/slimbox-closelabel.png');
}

span.CopyCode
{
    background-image: url('ms-xhelp:///?;/dotnetimages/copycode.png');
}
