div.navigation-header
{
	position: absolute;
    top: 0;
    left: 0;
	right: 0;
    height: 39px;
    width: 100%;
    z-index: 100;
    background-color: whitesmoke;	
	border-bottom: 1px solid #d8d8d8;
}        
        
div.navigation-header > div.inner-container
{
    float: left;
    position: relative;
    left: 50%;
    margin-left: -117px;
    margin-top: 3px;
    top: 8px;
}

div.navigation-header > div.inner-container a
{
    padding: 0.5em 1.2em;
    border-right-color: #ccc;
    border-right-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-right-width: 1px;
    border-right-style: solid;  
}

div.navigation-header > div.inner-container a:nth-child(n+5)
{
	border: none;
}

a#removehighlighting
{
	margin-left: 0em;
	display: none;	
}

a#removehighlighting i
{
	margin-top: 2px;
}

body
{
	margin-top: 4em;
}

div.navigation-header .btn 
{
	vertical-align: inherit;
}

div.navigation-header .btn-warning
{
    background-image: -webkit-linear-gradient(top, #FFEA32, #FFEA32);
    background-image: -o-linear-gradient(top, #FFEA32, #FFEA32);
    background-image: linear-gradient(top, #FFEA32, #FFEA32);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid #D8D8D8;
}

div.navigation-header .btn-warning:hover, .btn-warning:active
{
    background-color: #FFEA32;
}
ul.hs-inthistopic-list
{
	list-style-type: none;
	padding-left: 0px;
}

li.hs-inthistopic-item
{
	margin-top: 1em;
	margin-bottom: 1em;
}

pre 
{
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

span.CopyCode
{
	padding-left: 6px;
	background-image: none;
}

div#HSShowAll img, div#HSHideAll img
{
	display: none;
}

p.hs-toggler a, p.hs-toggler a.open
{
	background-image: none;
}

a.hs-thumbnail img
{
	max-width: 100%;
}

div.hs-toggler-container
{
	margin-bottom: 1.5em;
}
div.BreadcrumbsContainer
{
	padding: 8px;
}

div.SectionHeading
{
	margin-top: 8px;
	margin-bottom: 8px;
}

#AfterHeaderContent .PopupLink, #AfterHeaderContent .FunctionLink
{
	background-image: none;
}

div.PopupContent input, div.PopupContent label
{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 150%;
}

div#AfterHeaderContent
{
	margin-top: 6px;
	margin-left: 4px;
}

div.responsive-container
{
	margin-left: -10px;
}

img 
{
	max-width: 100%;
}
p.hs-toggler
{
	margin-top: 2em;
}
div.communityratingcontainer
{
	font-size: 1.2em;
	float: left;
	clear: both;
	width: auto;
	margin-bottom: 0.5em;
}

div.communityratingcontentcontainer img
{
	margin-left: 0.4em;
	margin-right: 0.4em;
	width: 22px;
	height: 22px;
	vertical-align: text-bottom;
}

div#ProjectTitle
{
	clear: both;
}

div.communityprivatecontentcommands, div.communitypubliccontentcommands,
div.communityprivatecontentcontainer, div.communitypubliccontentcontainer
{
	padding: 0.8em 0.5em;
}
div#inheritanceSectionContent a, div#hierarchySectionContent a
{
	margin-top: 6px;
	margin-bottom: 6px;
}

#BodyContent table.FilteredItemListTable td
{
	vertical-align: middle;
}

div.SectionContent>a:last-child
{
	margin-top: 8px;
}

div#seealsoSectionContent p a:nth-child(odd)
{
	margin-top: 6px;
	margin-bottom: 6px;
}

div#AfterHeaderContent a, div#AfterHeaderContent span
{
	margin: 4px;
}

#BodyContent table.FilteredItemListTable td.MembersLinkCell, #BodyContent table.FilteredItemListTable td.LinkCell
{
	padding: 8px;
}




