<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
      <target name="console" xsi:type="ColoredConsole" layout="[${longdate}] [${level}] ${message}"/>
    </targets>

    <rules>
      <logger name="*" minlevel="Trace" writeTo="console"/>
    </rules>
  </nlog>

  <system.diagnostics>
    <sources>
      <source name="NsqSharp" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <!-- add this if you just want to write to the console -->
          <!--<add name="console" type="System.Diagnostics.ConsoleTraceListener">
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error"/>
          </add>-->
          <add name="nlog"/>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>

    <switches>
      <!-- Valid values: Verbose, Information, Warning, Error -->
      <add name="sourceSwitch" value="Information"/>
    </switches>

    <sharedListeners>
      <add name="nlog" type="NLog.NLogTraceListener, NLog"/>
    </sharedListeners>

    <trace autoflush="true">
      <listeners>
        <add name="nlog" type="NLog.NLogTraceListener, NLog"/>
      </listeners>
    </trace>
  </system.diagnostics>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
