<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <targets>
    <target 
      name="console" 
      xsi:type="ColoredConsole" 
      layout="[${longdate}] [${level}] ${message}" 
    />

    <target
      name="debug"
      xsi:type="File"
      layout="[${longdate}] [${level}] ${message}"
      fileName="${logDirectory}/${processname}.app.debug.txt"
      createDirs="true"
      keepFileOpen="true"
      concurrentWrites="false"
    />

    <target
      name="info"
      xsi:type="File"
      layout="[${longdate}] [${level}] ${message}"
      fileName="${logDirectory}/${processname}.app.info.txt"
      createDirs="true"
      keepFileOpen="true"
      concurrentWrites="false"
    />

    <target
      name="warn"
      xsi:type="File"
      layout="[${longdate}] [${level}] ${message}"
      fileName="${logDirectory}/${processname}.app.warn.txt"
      createDirs="true"
      keepFileOpen="true"
      concurrentWrites="false"
    />

    <target
      name="error"
      xsi:type="File"
      layout="[${longdate}] [${level}] ${message}"
      fileName="${logDirectory}/${processname}.app.error.txt"
      createDirs="true"
      keepFileOpen="true"
      concurrentWrites="false"
    />

    <target
      name="nsq-debug"
      xsi:type="File"
      layout="[${longdate}] [${level}] ${message}"
      fileName="${logDirectory}/${processname}.nsq.debug.txt"
      createDirs="true"
      keepFileOpen="true"
      concurrentWrites="false"
    />

    <target
      name="nsq-info"
      xsi:type="File"
      layout="[${longdate}] [${level}] ${message}"
      fileName="${logDirectory}/${processname}.nsq.info.txt"
      createDirs="true"
      keepFileOpen="true"
      concurrentWrites="false"
    />

    <target
      name="nsq-warn"
      xsi:type="File"
      layout="[${longdate}] [${level}] ${message}"
      fileName="${logDirectory}/${processname}.nsq.warn.txt"
      createDirs="true"
      keepFileOpen="true"
      concurrentWrites="false"
    />

    <target
      name="nsq-error"
      xsi:type="File"
      layout="[${longdate}] [${level}] ${message}"
      fileName="${logDirectory}/${processname}.nsq.error.txt"
      createDirs="true"
      keepFileOpen="true"
      concurrentWrites="false"
    />

  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    
    <logger name="NsqSharp" levels="Trace,Debug" writeTo="nsq-debug" />
    <logger name="NsqSharp" level="Info" writeTo="nsq-info" />
    <logger name="NsqSharp" level="Warn" writeTo="nsq-warn" />
    <logger name="NsqSharp" levels="Error,Fatal" writeTo="nsq-error" final="true"/>

    <logger name="*" level="Trace" writeTo="debug" />
    <logger name="*" levels="Debug,Info" writeTo="info" />
    <logger name="*" level="Warn" writeTo="warn" />
    <logger name="*" levels="Error,Fatal" writeTo="error" />
  </rules>
</nlog>