<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <targets>
    <target 
      name="console" 
      xsi:type="ColoredConsole" 
      layout="[${longdate}] [${level}] ${message}" 
    />

    <target
      name="diagnostics"
      xsi:type="File"
      layout="[${longdate}] [${level}] ${message}"
      fileName="${logDirectory}/${processname}.diagnostics.txt"
      createDirs="true"
      keepFileOpen="true"
      concurrentWrites="false"
    />

    <target
      name="errors"
      xsi:type="File"
      layout="[${longdate}] [${level}] ${message}"
      fileName="${logDirectory}/${processname}.errors.txt"
      createDirs="true"
      keepFileOpen="true"
      concurrentWrites="false"
    />

  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="*" minlevel="Debug" writeTo="diagnostics" />
    <logger name="*" levels="Error" writeTo="errors" />
  </rules>
</nlog>