<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!-- set to true to use sql for message auditing -->
  <add key="UseSql" value="false"/>
  <!-- set to true to cache service call responses -->
  <add key="UseServiceCallCache" value="false"/>
  <!-- set nemesis to make a percent of service calls fail (integer value, 0-100) -->
  <add key="Nemesis" value="0"/>

  <add key="CustomerEndpoint" value="http://www.thomas-bayer.com/sqlrest/CUSTOMER"/>
  <add key="ProductEndpoint" value="http://www.thomas-bayer.com/sqlrest/PRODUCT"/>
  <add key="InvoiceEndpoint" value="http://www.thomas-bayer.com/sqlrest/INVOICE"/>
  <add key="InvoiceDetailsEndpoint" value="http://www.thomas-bayer.com/sqlrest/ITEM"/>

</appSettings>